@charset "utf-8";
/* CSS Document */

body{
	background: url("pinkdot.png") repeat;
	background-attachment: fixed;
}



#showbox{
	border:thick;
	width: 960px;
	padding: 100px;
}

header{
	font-family: dancing, serif;
 	height: 200px;
	width: 920px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: darkmagenta;
	background: url("babyheader.png") no-repeat;
	background-attachment: fixed;
	background-size:contain;
	border-style: groove;
	
}

nav{
	width:100%;
	text-align: left;
	padding: 10px 20px 10px 10px;
}



body{
	background-color:aqua;
	margin: 20px;
	padding: 50px;
	
	
}

div{ background-color: burlywood;
	padding: 10px 20px 10px 10px;
	margin-right: 20px;
	height: 150px;
	width: 100%;
	
	
}

section{
width: 170px;
padding-left: 20px;	
align-self: left;
background-color: chartreuse;
	
}

footer{
	height: 30px;
	background-color: crimson;
	margin-top: 10px;
	
	
}	
	
