@charset "utf-8";
/* CSS Document */

body{
	background: url("pinkdot.png") repeat;
	background-attachment: fixed;
}



#showbox{
	border:thick;
	width: 960px;
	padding: 100px;
}

header{
	font-family: 'dancing-script';
 	height: 200px;
	width: 920px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: darkmagenta;
	background: url("babyheader.png") no-repeat;
	background-size:contain;
	border-style: groove;
	text-align: center;
	
}

nav{
	text-align: left;
	padding: 10px 20px 10px 10px;
	float: left;
	background-color: lightsalmon; 
	margin: 10px 20px 0px 10px;
	border: 10px;
}



body{
	background-color:aqua;
	margin: 20px;
	padding: 50px;
	
	
}

div{ background-color: burlywood;
	height: 150px;
	width: 100%;
	
	
}

section{
	width: 170px;
	padding-left: 170px;	
	background-color: chartreuse;
	float: right;
	margin-bottom: 10px;
	border: 10px;
	
}

footer{
	height: 30px;
	background-color: crimson;
	clear: both;
	
	
}	
	
